{% extends 'resources/resourcegallery_base.html' %}
{% load i18n static %}

{% block title %}{{ object.name }} - {% trans "InkSpace" %}{% endblock %}

{% block "css" %}{{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/profile.css" %}" >
{% endblock %}

{% block supercontent %}
  <div id="bread">
    {% include "breadcrumbs.html" %}
  </div>
  <div id="profile">
    <img id="photo" src="{{ object.thumbnail_url }}"/>
    <h1 id="name">{{ object.name }}</h1>
    <p id="bio">{% if object.desc %}{{ object.desc|safe }}{% endif %}</p>
    {% if object.is_finished %}{% for winner in object.winners %}<!-- Winner {{ winner }}-->{% endfor %}{% endif %}
  </div>

  <div class="wrapper">
    {% include 'resources/resourcegallery_contents.html' %}
    {% include "pagination.html" %}
  </div>
{% endblock %}
